//
   Created by CoderSong on 17/5/23.

extends layout

block content
  link(rel='stylesheet', href='/stylesheets/user_register.css')

  .weui-row
    img.head-image(src='/images/basic_photo.jpg')

  .weui-row
    .weui_cells.weui_cells_form
      .weui_cell
        .weui_cell_hd
          label.weui_label 账号
        .weui_cell_bd.weui_cell_primary
          input#account.weui_input(placeholder='请输入您的账号')
      .weui_cell
        .weui_cell_hd
          label.weui_label 密码
        .weui_cell_bd.weui_cell_primary
          input#password.weui_input(type='password', placeholder='请输入登录密码')
      .weui_cell
        .weui_cell_hd
          label.weui_label 重复密码
        #again_pw.weui_cell_bd.weui_cell_primary
          input#repassword.weui_input(type='password', placeholder='请再次输入密码')

  .tj-padded.tj-margin-top
    button#sureBtn.weui_btn.weui_btn_primary(type='submit') 注册
    button#exitBtn.weui_btn.weui_btn_warn(type='submit') 返回

  script(src='/javascripts/user_register.js')
