//
   Created by CoderSong on 17/5/23.

extends layout_inner

block content
  link(rel='stylesheet', href='/stylesheets/user_friend.css')

  .weui_panel.weui_panel_access
    - if (friends.length > 0)
      each friend in friends
        - url = '/h5/message/' + friend._id;
        a.weui_media_box.weui_media_appmsg(href=`${url}`)
          .weui_media_hd
            img.weui_media_appmsg_thumb(src='/images/basic_photo.jpg', alt='icon')
          .weui_media_bd
            span.weui_media_title #{friend.username}
            - if (friend.notRead !== 0)
              span.weui_not_read #{friend.notRead}
            - if (friend.message)
              p.weui_media_desc #{friend.message.message}
    - else
      .empty-list
        img(style='margin-top: 20px', src='/images/popcorn.png')


  script(src='/javascripts/user_friend.js')
