.weui-foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
    text-align: center;
    background-color: #94979b;
}

.weui-foot .my-textarea {
    width: 90%;
    margin-top: 5px;
    resize: none;
    font-size: 1em;
    border-radius: 10px;
}

.weui-body {
    margin-top: 45px;
}

.message-left {
    width: 100%;
    height: 60px;
}

.message-left p {
    float: left;
    background-color: #3d3d3d;
    border-style: solid;
    border-color: #3d3d3d;
    border-radius: 10px;
    margin-left: 5px;
    color: whitesmoke;
    border-width: 5px;
}

.message-right {
    width: 100%;
    height: 60px;
}

.message-right p {
    float: right;
    background-color: whitesmoke;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 10px;
    margin-right: 5px;
    color: #3d3d3d;
    border-width: 5px;
}

.weui_dialog {
    top: 40%;
    left: 7.5%;
}
