.weui_panel {
    margin: 0px;
    height: 100%;
}

.weui_not_read {
    color: white;
    font-size: 10px;
    text-align: center;
    float: right;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: red;
    border-color: red;
}